# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Editors
.vscode/
.idea/

# Misc
.DS_Store
.tmp/
*.swp
*.swo

# Build output
dist/
build/

# Coverage reports
coverage/

# Lock files
package-lock.json
yarn.lock

# Compiled output
*.tsbuildinfo

#venv
/.venv
/.idea